*{
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan : hsl(167, 40%, 24%);
    --dark-blue : hsl(198, 62%, 26%);
    --dark-moderate-cyan : hsl(168, 34%, 41%);

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: 'Barlow';
    src: url(https://fonts.google.com/specimen/Barlow);
}

@font-face {
    font-family: 'Fraunces';
    src: url(https://fonts.google.com/specimen/Fraunces);
}

body{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

#app{
    width: 1440px;
    background-color: var(--white);
}

nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin-top: 3%;
}

.logo{
    margin-left: 2%;
}
.logo>img{
    width: 100%;
    height: 100%;
}

nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    list-style: none;
    margin-right: 2%;
    
}

nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

#nav-contact{
    font-weight: 700;
    font-size: 14px;
    background-color: var(--white);
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
}

#nav-contact>a{
    color: var(--dark-blue);
    font-family: 'Fraunces', sans-serif;
}

#nav-contact:hover{
    background-color: #6FCFFF;
}

#nav-contact:hover>a{
    color: var(--white);
}

.top{
    background-image: url(./images/desktop/image-header.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 785px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.top h1{
    color: var(--white);
    font-family: 'Fraunces';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 5%;
}

.grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 600px;
}

.grid-section p{
    line-height: 25px;
}

.grid-element{
    width: 720px;
    height: 600px;
}

h2{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 30px;
    color: var(--very-dark-desaturated-blue);
    width: 50%;
    margin-bottom: 30px;
}

p{
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 15px;
    color: var(--dark-grayish-blue);
    width: 50%;
    margin-bottom: 5%;
}

.grid-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-left>img, .grid-right>img{
    width: 100%;
    height: 100%;
}

.learn-more{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn-more a{
    font-family: 'Fraunces';
    font-weight: 700;
    text-align: left;
    font-size: 14px;
    color: var(--very-dark-desaturated-blue);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 3;
}

.learn-more-underline{
    position: absolute;
    top: 1235px;
    z-index: 2;
    width: 110px;
    height: 10px;
    border-radius: 10px;
    display: block;
    background-color: #FBEEB3;
}

.learn-more-underline-red{
    position: absolute;
    top: 1850px;
    z-index: 2;
    width: 110px;
    height: 10px;
    border-radius: 10px;
    display: block;
    background-color: #FFDBD5;
}

.learn-more-underline:hover{
    background-color: var(--yellow);
}

.learn-more-underline-red:hover{
    background-color: var(--soft-red);
}


#graphic-design{
    background-image: url(./images/desktop/image-graphic-design.jpg);
}

#graphic-design h2{
    color: var(--dark-desaturated-cyan);
}

#graphic-design p{
    color: var(--dark-moderate-cyan);
}

#photography{
    background-image: url(./images/desktop/image-photography.jpg);  
}

#photography h2{
    color: var(--dark-blue);
}

#photography p{
    color: var(--dark-blue);
}

.grid-element-bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.grid-element-bottom h2{
    margin-top: 400px;
}

.clients-review{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 550px;
}

.clients-review h1{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 20px;
    color: var(--grayish-blue);
    margin-top: 160px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.clients-review h2{
    font-size: 20px;
    margin-bottom: 15px;
}

.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 350px;
}

.review>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 65px;
}

.review p{
    width: 80%;
    line-height: 25px;
    margin-bottom: 40px;
}

.review h3{
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 15px;
    color: var(--grayish-blue);
}

.footer-images{
    display: flex;
}

.footer-images>img{
    width: 25%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 343px;
    align-items: center;
    background-color: #90D4C5;
}

footer>svg{
    align-self: center;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation ul{
    display: flex;
    margin: 60px 0;
    justify-content: space-between;
    width: 300px;
}

.navigation a{
    color: var(--dark-desaturated-cyan);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 20px;
}

.navigation a:hover{
    color: var(--white);
}

.social-media{
    display: flex;
    justify-content: space-between;
    width: 160px;
    align-self: center;
}

.social-media>i{
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: var(--dark-desaturated-cyan);
}

.social-media>i:hover{
    color: var(--white);
}

.attribution{
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    color: var(--dark-desaturated-cyan);
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.attribution a{
    color: var(--dark-desaturated-cyan);
}